
button {
  background-color: #f5651d;
  color: white;
  border-radius: 5px;
  width: 10%;
  height: 50px;
  border-color: #f5651d;
  

}
body {
  background-color: #212121;

}
p {
  display: flex;
  justify-content: center;
  align-items: center;
}